.header {
  background-color: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: sticky;
  text-decoration: none;
    color: white;
}

.imgNombre {
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
}


.categorias {
  list-style: none;
  align-content: center;
  margin: 8px;
  cursor: pointer;
  font-weight: 500;
  color: white;
  text-decoration: none;
}