.divItemCount{
  display: grid;
  background-color: white;
  padding: 5px;
}
.contador {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.Controls {
  display: grid;
  justify-content: space-between;

}

.Button {
  width: 30px;
  background-color: #1c1c1c;
  color: white;
  cursor: pointer;
}

.Number{
  color: #1c1c1c;
}

.btnAgregar {
  background-color: white;
  color: black;
  border-style: none;
  padding: 5px;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
  border: 1px solid #b6b1b1;
  text-decoration: none;
  margin-top: 5px;
}

.btnAgregar:hover {
  background-color: #1c1c1c;
  color: white;
  border: 1px solid #1c1c1c;
}